body
{
	min-height: 100vh;
	width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

span
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1
{
  	color: white;
	font-family: "Courier New";
	text-shadow: 2px 2px black;
}

label
{
	color: white;
	font-family: "Courier New";
	text-shadow: 2px 2px black;
}
